<div class="header">
  <div class="tw-text-24-px tw-font-600">Open Books Library</div>
  <form (ngSubmit)="onSubmit()" class="search-button">
    <button type="submit" class="submit-button">
      <mat-icon class="" aria-label="Search Icon">search</mat-icon>
    </button>
    <input
      [(ngModel)]="subjectName"
      name="subjectName"  
      type="text"
      placeholder="Search Books"
      class="tw-border-0 tw-ml-2 tw-bg-inherit search_input"
    >
  </form>
</div>

<div class="main-container">
  <div class="col-nav-bar bg-blue-500 tw-flex tw-flex-row tw-ml-16-px tw-w-98 nav_column">
      <section class="trending-subjects">
        <ul class="tw-list-none tw-pl-0 bg-blue-500">
          <li class="home_li tw-text-16-px tw-cursor-pointer tw-p-12-px">
            <mat-icon class="home_icon">home</mat-icon>
            <a href="/" class="home_link" Home>Home</a>
          </li>
          <li class="search_li tw-text-16-px tw-cursor-pointer tw-p-12-px">
            <mat-icon class="home_icon" aria-label="Search Icon">search</mat-icon>
            <a href="/" class="search_link" Home>Search</a>
          </li>
          <li class="tw-text-16-px tw-cursor-pointer tw-p-12-px" *ngFor="let subject of trendingSubjects" routerLink="/trending-subject/{{ subject.name }}/1">
            {{ subject.name }}
          </li>
        </ul>
      </section>
    </div>
    <div class="table_view">
        <router-outlet></router-outlet>
    </div>
</div>
