<!-- <div class="header">
    <div class="tw-text-24-px tw-font-600">Open Books Library</div>
    <div class="search-button">
      <mat-icon class="tw-mt-16-px" aria-label="Search Icon">search</mat-icon>
      <input
        [formControl]="bookSearch"
        name="searchKey"
        type="text"
        placeholder="Search Books"
        class="tw-border-0 tw-bg-inherit"
      >
    </div>
  </div>
  <div class="main-container">
    <div class="basis-1/4 bg-blue-500 tw-flex tw-flex-row tw-m-24-px tw-h-screen tw-w-98">
        <section class="trending-subjects">
          <ul class="tw-list-none tw-pl-0 bg-blue-500">
            <li class="tw-text-16-px tw-cursor-pointer tw-p-12-px">
              <mat-icon>home</mat-icon>
              <a href="/" class="home_link" Home>Home</a>
            </li>
            <li class="tw-text-16-px tw-cursor-pointer tw-p-12-px">
              <mat-icon class="tw-mt-16-px" aria-label="Search Icon">search</mat-icon>
              <a href="/" class="search_link" Home>Search</a>
            </li>
            <li class="tw-text-16-px tw-cursor-pointer tw-p-12-px" *ngFor="let subject of trendingSubjects" routerLink="/trending-subject/{{ subject.name }}">
              {{ subject.name }}
            </li>
          </ul>
        </section>
      </div>
      <div class="basis-3/4"> -->
          <!-- <router-outlet></router-outlet> -->
      <!-- </div>
  </div> -->

<front-end-internship-assignment-home></front-end-internship-assignment-home>
