/* You can add global styles to this file, and also import other style files */
@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  @apply tw-m-0 tw-p-0
}

body{
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
  height: 100vh !important;
  // overflow-y: hidden;
}

html,
body {
  @apply tw-h-full tw-w-full
}

table {
  td,
  th {
    padding-left: 16px;
  }
}